<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.dao.GoodsDao">

	<resultMap type="Goods" id="GoodsResult">
		<result property="id" column="id" />
		<result property="inventory_quantity"
			column="inventory_quantity" />
		<result property="last_purchasing_price"
			column="last_purchasing_price" />
		<result property="min_num" column="min_num" />
		<result property="model" column="model" />
		<result property="name" column="name" />
		<result property="producer" column="producer" />
		<result property="purchasing_price" column="purchasing_price" />
		<result property="remarks" column="remarks" />
		<result property="selling_price" column="selling_price" />
		<result property="state" column="state" />
		<result property="unit" column="unit" />
		<result property="type_id" column="type_id" />
		<result property="number" column="number" />
		<result property="salenumber" column="salenumber" />
		<result property="returnnumber" column="returnnumber" />
	</resultMap>

	<!-- 查询所有商品 -->
	<select id="findAll" parameterType="Map" resultMap="GoodsResult">
		select * from sm_goods
		<where>
			<if test="name!=null and name!='' ">
				and name like "%"#{name}"%"
			</if>
			<if test="type_id!=null and type_id!='' ">
				and type_id =#{type_id}
			</if>
			<if test="state!=null">
				and state =#{state}
			</if>
		</where>
		<if test="page!=null and limit!=null">
			limit #{page},#{limit}
		</if>
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="Map" resultType="Long">
		select count(*) from sm_goods
		<where>
			<if test="name!=null and name!='' ">
				and name like "%"#{name}"%"
			</if>
			<if test="state!=null ">
				and state =#{state}
			</if>
			<if test="type_id!=null and type_id!='' ">
				and type_id =#{type_id}
			</if>
		</where>
	</select>

	<!-- 添加商品 -->
	<insert id="add" parameterType="Goods">
		insert into sm_goods
		values(null,'0',#{last_purchasing_price},#{min_num},#{model},#{name},#{producer},#{purchasing_price},#{remarks},#{selling_price},'2',#{unit},#{type_id},#{number},'0','0')
	</insert>



	<!-- 更新商品 -->
	<update id="update" parameterType="Goods">
		update sm_goods
		<set>
			<if
				test="last_purchasing_price!=null and last_purchasing_price!=''">
				last_purchasing_price=#{last_purchasing_price},
			</if>
			<if test="min_num!=null and min_num!=''">
				min_num=#{min_num},
			</if>
			<if test="model!=null and model!=''">
				model=#{model},
			</if>
			<if test="number!=null">
				number=#{number},
			</if>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="salenumber!=null ">
				salenumber=#{salenumber},
			</if>
			<if test="returnnumber!=null ">
				returnnumber=#{returnnumber},
			</if>
			<if test="producer!=null and producer!=''">
				producer=#{producer},
			</if>
			<if test="purchasing_price!=null and purchasing_price!=''">
				purchasing_price=#{purchasing_price},
			</if>
			<if test="remarks!=null and remarks!=''">
				remarks=#{remarks},
			</if>
			<if test="selling_price!=null and selling_price!=''">
				selling_price=#{selling_price},
			</if>
			<if test="unit!=null and unit!=''">
				unit=#{unit},
			</if>
			<if test="inventory_quantity!=null and inventory_quantity!=''">
				inventory_quantity=#{inventory_quantity},
			</if>
			<if test="state!=null">
				state=#{state},
			</if>
			<if test="type_id!=null and type_id!='' ">
				type_id =#{type_id},
			</if>
			<if test="selling_price!=null and selling_price!=''">
				selling_price=#{selling_price},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据ID查询实体 -->
	<select id="findById" parameterType="Integer"
		resultMap="GoodsResult">
		select *
		from sm_goods where id=#{id}
	</select>

	<!-- 根据Type_id查询实体 -->
	<select id="findByTypeId" parameterType="Integer"
		resultMap="GoodsResult">
		select * from sm_goods where type_id=#{type_id} limit 0,1
	</select>

	<select id="findCode" parameterType="Integer"
		resultMap="GoodsResult">
		select *
		from sm_goods ORDER BY code DESC LIMIT 0,1
	</select>

	<!-- 修改时判断是否重复 -->
	<select id="isEchoe" parameterType="String"
		resultMap="GoodsResult">
		select *
		from sm_goods where name=#{name}
	</select>

</mapper> 